{{ define "notes/index.html"}}
    {{ template "layouts/header.html" .}}
    <h1>All Notes</h1>

    <div class="row row-cols-1 row-cols-md-6 g-4">
        {{ with .notes }}
            {{ range . }}
                <div class="col">
                    <div class="card h-200">
                        <h5 class="card-title">{{ .Name }}</h5>
                        <p class="card-text">{{ .Content }}</p>
                        <a class="btn btn-online-primary" href="/notes/{{.ID}}" role="button">View</a>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>

    <p>
        <a class="btn btn-outline-primary" href="/notes/new" role="button">New Note</a>
    </p>
    {{ template "layouts/footer.html" .}}
{{ end }}